.level-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  font-size: 2.5rem;
}

.level {
  font-size: 4rem;
  border: 1px solid white;
  padding: 1rem 3rem;
  margin-top: 0.5rem;
}

@media (max-width: 550px) {
  .instructions {
    font-size: 3rem;
  }

  .level {
    font-size: 4rem;
    border: 1px solid white;
    padding: 1rem 3rem;
    margin-top: 1rem;
  }
}
